:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;

  /* color: #535bf2; */
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.TravelList {
  border: 2px solid black;
  width: 60vw;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

.text-container {
  text-align: left;
}

.img-container img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin: 20px;
}

.great-deal {
  width: 90px;
  height: 30px;
  background-color: green;
  border-radius: 5px;
  text-align: center;
}

.premium {
  width: 90px;
  height: 30px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.label-container {
  display: flex;
}

.all-inclusive {
  width: 100px;
  height: 30px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
}

.delete-btn {
  margin-top: 90px;

}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
